{% block addField_articleForm %}
    <div class="d-flex block-img-vid-add">
        <div class="block-img-add">
            <ul id="image-fields-list"
                data-prototype="{{ form_widget(form.LienImgTriks.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ form.LienImgTriks|length }}">
                {% for imageField in form.LienImgTriks %}
                    <li>
                        {{ form_errors(imageField) }}
                        {{ form_widget(imageField) }}
                    </li>
                {% endfor %}
            </ul>
        <button type="button" class="add-another-collection-widget btn-new-image" data-list-selector="#image-fields-list">Ajout image</button>
    </div>    

    <div class="block-vid-add">
        <ul id="video-fields-list"
            data-prototype="{{ form_widget(form.videoTriks.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ form.videoTriks|length }}">
            {% for videoField in form.videoTriks %}
                <li>
                    {{ form_errors(videoField) }}
                    {{ form_widget(videoField) }}
                </li>
            {% endfor %}
        </ul>
        <button type="button" class="add-another-collection-widget btn-new-video" data-list-selector="#video-fields-list">Ajout vidéo</button>
    </div>
</div>
{% endblock addField_articleForm %}