{% extends 'base.html.twig' %} 

    {% block main %} 
        {% use "article_triks/_show_layout.html.twig" with img_vid_articleFile as parent_imgVid, info_articleFile as parent_info, comment_articleFile as parent_comment, loadMoreComment_articleFile as parent_loadMore %} 

        {% block img_vid_articleFile %} {{ block('parent_imgVid') }} {% endblock img_vid_articleFile %}

        {% block info_articleFile %} {{ block('parent_info') }} {% endblock info_articleFile %}

        {% if user is defined and user != null %}
            <hr class="article">
            <div class="d-flex justify-content-center">
                {{ form(form) }}
            </div>
        {% endif %}
        <hr class="article">

        {% block comment_articleFile %} {{ block('parent_comment') }} {% endblock comment_articleFile %}

        {% block loadMoreComment_articleFile %} {{ block('parent_loadMore') }} {% endblock loadMoreComment_articleFile %}
    {% endblock main %}

    {% block javascripts %}
        <script src="{{ asset('js/changeDisplayField.js') }}"></script>
    {% endblock %}
