{% extends 'base.html.twig' %}
        
    {% block main %}  
        {% use "user/_user_layout.html.twig" with debut_userFile as parent_debut, errorMessage_loginFile as parent_errorMessage ,  end_userFile as parent_end %}
        {% block debut_userFile %}
            {{ block('parent_debut') }}
        {% endblock debut_userFile %}

        {% block errorMessage_loginFile %}
            {{ block('parent_errorMessage') }}
        {% endblock errorMessage_loginFile %}
        <!-- Login Form -->
        <form method="post">
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="fadeIn second" placeholder="Pseudo" required>
            <input type="password" name="password" id="inputPassword" class="fadeIn third" placeholder="Mot de passe"  required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn-user" type="submit">
                Sign in
            </button>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover forgotPassword" href="user/emailEditPassword">Mot de passe oublié?</a>
            <a class="underlineHover forgotPassword" href="user/signUp">S'inscrire</a>
        </div>

        {% block end_userFile %}
            {{ block('parent_end') }}
        {% endblock end_userFile %}
    {% endblock main %}  
{% block javascripts %}{% endblock %}

