<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TriksPédia!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('build/app.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body class="box-shadow-body">
        {% block body %}
            {# Cover part #}
            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                <header class="masthead mb-auto">
                    <div class="inner">
                    <h3 class="masthead-brand">TriksPédia</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link active" href="{{ path('home') }}">Home</a>
                        <a class="nav-link" href="#">Triks</a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {# {{ dump(userId) }} #}
                            <a class="nav-link" href="{{ path('article_triks_new') }}">New article</a>
                            <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                        {% else %}
                            <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                        {% endif %}
                    </nav>
                    </div>
                </header>

                <main role="main" class="inner cover text-center">
                    <h1 class="cover-heading">TriksPédia</h1>
                    <p class="lead">Un site vous permettant de tout savoir sur les triks en snowboard.</p>
                </main>

                <footer class="mastfoot mt-auto ">
                    <div class="inner text-center">
                    <p>Site créé avec <a href="https://getbootstrap.com/">Bootstrap</a> et <a href="https://symfony.com/">symfony 5</a>.</p>
                    </div>
                </footer>
            </div>
            {# End of cover part #}

            {# Triks part #}
            <section id="triks">
                <div class="album py-5 bg-light">
                    <div class="container">
                        <div class="row">
                            {% set i = 1 %}
                            {% for article in articles %}
                                {#{{ dump(article.imageTriks) }} #}
                                {# {{ dump(images) }} #}
                                
                                {# {{ dump(imageArt) }} #}
                                <div class="col-md-4">
                                    <div class="card mb-4 shadow-sm">
                                        <svg height="0"><img src="{{ asset('/uploads/imagesArticle/' ~ imageArt[i][0].LienImgTriks) }}" width="100%" height="250px"/></svg>
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <a href="{{ path('article_triks_show', { 'id': article.id }) }}">{{ article.nomArtTriks }}</a> 
                                                <div class="btn-group d-flex">
                                                
                                                    <div class="edit-btn">
                                                        {# <a href="{{ path('article_triks_edit', {'id': article.id}) }}">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                            </svg>
                                                        </a>#}
                                                    </div>
                                                    {# <button type="button" class="btn btn-sm btn-outline-secondary">Supprimer</button> #}
                                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                    {# <form method="post" action="{{ path('article_triks_delete', {'id': article.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet article?');">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                                                        <button class="btn btn-sm btn-outline-secondary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                            </svg>
                                                        </button>
                                                    </form> #}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                {% set i = i + 1 %} 
                            {% endfor %}                 
                        </div>
                    </div>
                </div>
            </section>
            {# End of triks part #}

            {# "Load more" part #}
            {% if next < articles|length %}
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <a href="{{ path('home', { paginator_per_page: next }) }}">Load more</a>
                    </div>  
                </div>
            {% endif %}
            
            {# End of "Load more" part #}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>