<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TriksPédia!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('build/app.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {# Cover part #}
            <div class="cover-container-show d-flex w-100 h-100 p-3 mx-auto flex-column ">
                <div class="d-flex justify-content-center mb-auto">
                    <header class="masthead cover-container-show-header">
                        <div class="inner">
                            <h3 class="masthead-brand">TriksPédia</h3>
                            <nav class="nav nav-masthead justify-content-center">
                                <a class="nav-link" href="{{ path('home') }}">Home</a>
                                <a class="nav-link" href="#">Triks</a>
                                <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                            </nav>
                        </div>
                    </header>
                </div>
        
                <main role="main" class="inner cover text-center">
                    <div class="wrapper fadeInDown">
                        <div id="formContent">
                            <!-- Tabs Titles -->

                            <!-- Login Form -->
                            {# {{ form(form) }} #}
                            {% if errorMessage is defined %}
                                <div class="warning-text">{{ errorMessage }}</div>
                            {% endif %}
                            {{ form_start(form) }}
                                {{ form_row(form.username) }}
                                {{ form_row(form.password) }}

                                <input type="password" name="verifPassword" id="password" class="fadeIn third" placeholder="Mot de passe" required/>

                                {{ form_row(form.MailUtilisateur) }}
                                {{ form_row(form.Sinscrire) }}
                            {{ form_end(form) }}

                        </div>
                    </div>
                </main>

                <footer class="mastfoot mt-auto ">
                    <div class="inner text-center">
                    <p>Site créé avec <a href="https://getbootstrap.com/">Bootstrap</a> et <a href="https://symfony.com/">symfony 5</a>.</p>
                    </div>
                </footer>

            </div>
    {% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>